/* Default Light Theme */
body {
  background-color: white;
  color: black;
}

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
  color: black;
  border-radius: 50px;
  z-index: 1000;
}

.navbar button {
  margin-right: 10px;
}

.navbar img {
  padding: 8px 4px 4px 10px;
  width: 100px;
  height: auto;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 0.4rem;
  transition: all 0.3s ease;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: black;
}

.nav {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-item a {
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}

.nav-item a:hover {
  color: #ff6f61;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-container i{

}
.search-input {
  border: none;
  outline: none;
  align-content:center;
  border-bottom: 2px solid black;
  background-color: transparent;
 
}

.social-icons {
  display: none;
  justify-content: center;
  gap: 1rem;
}

.social-icon {
  font-size: 1.8rem;
  color: #333;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
  color: #ff6f61;
  transform: scale(1.2);
}

.close-btn {
  display: none;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 45px;
  cursor: pointer;
}

.ThemeCV {
  display: block;
}

.ThemeCV-mb {
  display: none;
}

.theme-toggle {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  .nav.nav-mobile-open {
    transform: translateX(0);
  }

  .close-btn {
    display: block;
  }

  .ThemeCV {
    display: none;
  }

  .ThemeCV-mb {
    display: block;
  }
}
